Empire_electronics/__pycache__/
Empire_electronics/__init__.py
empireapp/__pycache__/
empireapp/migrations/__pycache__/
empireapp/__init__.py
db.sqlite3
/venv
empireapp\templatetags\__pycache__
.venv
entorno