{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="es-ES">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empire Electronics | Todo lo que necesitas para tu PC</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'empireapp/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="{% static 'empireapp/js/app.js' %}"></script>
</head>

<body>
    <header class="empire-header empire-bg">
        <section class="empire-header-call">
            <div class="empire-header-call-container">
                <div class="empire-header-call-attention">
                    <p class="empire-header-call-attention__days">Lunes a viernes: </p>
                    <p class="empire-header-call-attention__hours">9:00 AM - 18:00 PM</p>
                </div>
                <div class="empire-header-call-city">
                    <p class="empire-header-call-city__address">Visita nuestra sala de ventas en Mall Plaza del Trébol,
                        Talcahuano</p>
                </div>
                <div class="empire-header-call-rrss">
                    <a class="empire-header-call-rrss__phone" href="tel:+569 123 456 789">
                        <strong>Llámanos al +569 123 456 789</strong>
                    </a>
                    <a class="empire-header-call-rrss__icon" href="https:www.facebook.com" target="_blank">
                        <img src="{% static 'empireapp/images/icon-facebook.svg' %}" alt="Logo Facebook">
                    </a>
                    <a class="empire-header-call-rrss__icon" href="https:www.instagram.com" target="_blank">
                        <img src="{% static "empireapp/images/icon-instagram.svg" %}" alt="Logo Instagram">
                    </a>
                </div>
            </div>
        </section>
        <section class="empire-header-container">
            <div class="empire-header-logo">
                <img class="empire-header-logo__img" src="{% static "empireapp/images/logo-empire-01.png" %}"
                    alt="Logo Empire">
            </div>
            <nav class="empire-menu">
                <ul class="empire-menu-nav">
                    <li class="empire-menu-nav__list">
                        <a class="empire-menu-nav__link" href="{% url "index" %}">Home</a>
                    </li>
                    <li class="empire-menu-nav__list">
                        <a class="empire-menu-nav__link" href="{% url "productos" %}">Productos</a>
                    </li>
                    <li class="empire-menu-nav__list">
                        <a class="empire-menu-nav__link" href="{% url "blog" %}">Blog</a>
                    </li>
                    <li class="empire-menu-nav__list">
                        <a class="empire-menu-nav__link" href="{% url "about" %}">Nosotros</a>
                    </li>
                    <li class="empire-menu-nav__list">
                        <a class="empire-menu-nav__link" href="{% url "contacto" %}">Contáctanos</a>
                    </li>
                    <!-- <li class="empire-menu-nav__list">
                        <a class="empire-menu-nav__link" href="pages/pedidos.html">Pedidos</a>
                    </li> -->
                </ul>
            </nav>
            <div class="empire-menu-cart">
                <a href="" class="empire-menu-cart__link">
                    <img class="empire-menu-cart__img" src="{% static "empireapp/images/icon-search.svg" %}"
                        alt="Icono Búsqueda">
                </a>


                <a id="empire-cart" class="empire-menu-cart__link cart--number">
                    <span id="empire-cart__number" class="empire-cart__number">
                            {{cart_item_count}}
                        </span>
                    <img class="empire-menu-cart__img" src="{% static "empireapp/images/icon-carrito.svg" %}"
                        alt="Icono Carrito de Compra">


                    <div id="empire-cart-container" class="empire-cart-container">
                        <!-- Productos en el carrito -->
                        <section class="empire-details-content">
                            <!-- Item 1 -->
                            {% for item in items %}
                                <div class="empire-details">
                                    {% if item.producto.laptops %}
                                        <img class="empire-products-content-body__img" src="{{ item.producto.laptops.imagen.url }}" alt="{{ producto.marca }} {{ producto.modelo }}" />
                                    {% elif item.producto.celulares %}
                                        <img class="empire-products-content-body__img" src="{{ item.producto.celulares.imagen.url }}" alt="{{ producto.marca }} {{ producto.modelo }}" />
                                    {% endif %}
                                        <ul>
                                            <li>Modelo: {{ item.producto.modelo }} </li>
                                            <li>Cantidad:
                                                <form action="{% url 'cart_update' item.id %}" method="post">
                                                    {% csrf_token %}
                                                    <button type="submit" name="action" value="decrementar">-</button>
                                                    <span>{{ item.quantity }}</span>
                                                    <button type="submit" name="action" value="incrementar">+</button>
                                                </form> 
                                            </li>
                                            <li>Precio:  {{ item.producto.precio }} </li>
                                        </ul>
                                </div>
                            {% endfor %}
                        </section>
                        <!-- Precio -->
                        <section class="empire-details-price">
                            <div class="empire-details-products-value">
                                <h3>Total del Carrito: {{ total|currency }}</h3>
                                <div class="empire-details-products-value-btn">
                                    <a href="{% url "cart_detail" %}">
                                        <button class="empire-details-products-value-btn--add"> Ir a pagar</button>
                                    </a>


                                </div>

                            </div>
                        </section>
                    </div>
                </a>

                
                <a id="empire-usuario" class="empire-menu-cart__link usuario">
                    <img class="empire-menu-cart__img" src="{% static "empireapp/images/icon-user.svg" %}"
                        alt="Icono Usuario">
                </a>
                <div id="empire-usuario-container" class="empire-usuario-container">
                    {% if user.is_staff %}
                        <h5> Bienvenido {{user.nombre}} <span> </span> {{user.apellido}}</h5>
                        <li class="empire-menu-nav__list">
                            <button type="button">
                                <a href="{% url "home" %}">Panel de Admin</a>
                            </button>
                        </li>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit">Cerrar sesión</button>
                        </form>
                    {% elif user.is_authenticated %}
                        <h5> Bienvenido {{user.nombre}} <span> </span> {{user.apellido}}</h5>

                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit">Cerrar sesión</button>
                        </form>
                        <ul>
                            <li class="empire-menu-nav__list">
                                <button type="button">
                                    <a href="{% url "pedidos" %}">Mis pedidos</a>
                                </button>
                            </li>
                            <li class="empire-menu-nav__list">
                                <button type="button">
                                    <a href="{% url "perfil" %}">Perfil</a>
                                </button>
                            </li>
                        </ul>
                    {% else %}
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            {{ login_form.as_p }}
                            <button type="submit">Iniciar sesión</button>
                        </form>
                        <button type="button">
                            <a href={% url "registrarse" %}> registrarse</a>
                        </button>
                    {% endif %}
                </div>
            </div>
        </section>

    </header>
    {% block contenedor %}
    <div class="empire-hero">
        <a class="empire-hero__link" href="">
            <img class="empire-hero__banner" src="{% static "empireapp/images/banner-desktop-01.png" %}" alt="BANNER">
        </a>
    </div>
    <main class="empire-main">
        <section class="empire-featured">
            <a href="{% url "productos" %}" class="empire-featured-item">
                <img class="empire-featured-item__img" src="{% static "empireapp/images/smartphone-image.png" %}"
                    alt="Smart-Phone">
                <h4 class="empire-featured-item__title">Smath Phone</h4>
            </a>
            <a href="pages/products.html#laptop" class="empire-featured-item">
                <img class="empire-featured-item__img" src="{% static "empireapp/images/laptop-image.png" %}"
                    alt="Laptop">
                <h4 class="empire-featured-item__title">Laptop</h4>
            </a>
            <a href="pages/products.html#camaras" class="empire-featured-item">
                <img class="empire-featured-item__img" src="{% static "empireapp/images/camera-image.png" %}"
                    alt="Cámaras">
                <h4 class="empire-featured-item__title">Cámaras</h4>
            </a>


            <a href="pages/products.html#gaming" class="empire-featured-item">
                <img class="empire-featured-item__img" src="{% static "empireapp/images/gaming-image.png" %}"
                    alt="Gaming">
                <h4 class="empire-featured-item__title">Gaming</h4>
            </a>
            <a href="pages/products.html#smartwatch" class="empire-featured-item">
                <img class="empire-featured-item__img" src="{% static "empireapp/images/smart-watch.png" %}"
                    alt="Smart-Watch">
                <h4 class="empire-featured-item__title">Smart-Watch</h4>
            </a>
            <a href="pages/products.html#accesorios" class="empire-featured-item">
                <img class="empire-featured-item__img" src="{% static "empireapp/images/accessories-image.png" %}"
                    alt="Accesorios">
                <h4 class="empire-featured-item__title">Accesorios</h4>
            </a>
        </section>
{% comment %}         <section class="empire-sale">
            <div class="empire-sale-all">
                <h3 class="empire-sale-all__title">Descuentos Increíbles</h3>
                <a class="empire-sale-all__link" href="pages/products.html">Ver todos los productos >></a>
            </div>
            <div class="empire-sale-slider">
                <a href="{% url "detalleProducto" %}" class="empire-sale-slider-item">
                    <small class="empire-sale-slider-item__dscto">-30%</small>
                    <img class="empire-sale-slider-item__img" src="{% static "empireapp/images/products/laptops/01-macbook-air-15.png" %}" alt="teclado-NPET-K10">
                    <h4 class="empire-sale-slider-item__title">MacBook Pro M2 MNEJ3 2022 LLA 13.3 inch</h4>
                    <div class="empire-sale-slider-item-price">
                        <small class="empire-sale-slider-item-price__dscto">$1.299.000</small>
                        <small class="empire-sale-slider-item-price__value">$999.990</small>
                    </div>
                </a>
                <a href="" class="empire-sale-slider-item">
                    <small class="empire-sale-slider-item__dscto">-50%</small>
                    <img class="empire-sale-slider-item__img" src="{% static "empireapp/images/mouse-logitech.png" %}"
                        alt="mouse-logitech">
                    <h4 class="empire-sale-slider-item__title">Logitech G502 Gaming Mouse</h4>
                    <div class="empire-sale-slider-item-price">
                        <small class="empire-sale-slider-item-price__dscto">$38.00</small>
                        <small class="empire-sale-slider-item-price__value">$19.00</small>
                    </div>
                </a>
                <a href="" class="empire-sale-slider-item">
                    <small class="empire-sale-slider-item__dscto">-20%</small>
                    <img class="empire-sale-slider-item__img" src="{% static "empireapp/images/apple-watch-series-7.png" %}" alt="apple-watch-series-7.png">
                    <h4 class="empire-sale-slider-item__title">Apple Watch Series 7 (GPS, 41MM)</h4>
                    <div class="empire-sale-slider-item-price">
                        <small class="empire-sale-slider-item-price__dscto">$289.00</small>
                        <small class="empire-sale-slider-item-price__value">$231.20</small>
                    </div>

                </a>
                <a href="" class="empire-sale-slider-item">
                    <small class="empire-sale-slider-item__dscto">-25%</small>
                    <img class="empire-sale-slider-item__img" src="{% static "empireapp/images/apple-2022-macbook-air-m2.png" %}" alt="apple-2022-macbook-air-m2">
                    <h4 class="empire-sale-slider-item__title">Apple 2022 MacBook Air M2 Chip (8GB RAM, 256GB SSD)</h4>
                    <div class="empire-sale-slider-item-price">
                        <small class="empire-sale-slider-item-price__dscto">$950.22</small>
                        <small class="empire-sale-slider-item-price__value">$712.66</small>
                    </div>
                </a>
                <a href="" class="empire-sale-slider-item">
                    <small class="empire-sale-slider-item__dscto">-17%</small>
                    <img class="empire-sale-slider-item__img" src="{% static "empireapp/images/samsung-titan-smart-watch.png" %}" alt="samsung-titan-smart-watch">
                    <h4 class="empire-sale-slider-item__title">Samsung Titan smart watch</h4>
                    <div class="empire-sale-slider-item-price">
                        <small class="empire-sale-slider-item-price__dscto">$120.00</small>
                        <small class="empire-sale-slider-item-price__value">$96.60</small>
                    </div>
                </a>
            </div>
        </section> {% endcomment %}
    </main>
    {% endblock contenedor %}
    <footer class="empire-footer">
        <div class="empire-footer-container">
            <div class="empire-footer-info">
                <h3 class="empire-footer-info__title">Company</h3>
                <a class="empire-footer-info__link" href="#">Home</a>
                <a class="empire-footer-info__link" href="pages/products.html">Productos</a>
                <a class="empire-footer-info__link" href="pages/blog.html">Blog</a>
                <a class="empire-footer-info__link" href="pages/contact.html">Contacto</a>
            </div>
            <div class="empire-footer-info">
                <h3 class="empire-footer-info__title">Info</h3>
                <a class="empire-footer-info__link" href="pages/works.html">Trabaja con nosotros</a>
                <a class="empire-footer-info__link" href="pages/blog.html">Nuestra promesa</a>
                <a class="empire-footer-info__link" href="pages/faq.html">FAQ</a>
            </div>
            <div class="empire-footer-info">
                <h3 class="empire-footer-info__title">Contáctanos</h3>
                <p class="empire-footer-info__desc">
                    <img src="{% static "empireapp/images/footer/footer-icon-location.svg" %}"
                        alt="Icon Location Footer" />
                    Mall Plaza del Trébol, Talcahuano
                </p>
                <p class="empire-footer-info__desc"><img src="{% static "empireapp/images/footer/footer-icon-email.svg"%}" alt="Icon Email"> info@empire-electronics.cl</p>
                <p class="empire-footer-info__desc"><img src="{% static "empireapp/images/footer/footer-icon-phone.svg"%}" alt="Icon Phone">+569 987654321</p>
            </div>
        </div>

    </footer>
</body>

</html>