{% extends "empireapp/pages/dashboard/home.html" %}
{% block contenido %}

<section class="full-width header-well">
    <div class="full-width header-well-icon">
        <i class="zmdi zmdi-store"></i>
    </div>
    <div class="full-width header-well-text">
        <p class="text-condensedLight">
            Aquí puedes administrar a cada usuario. Se separa a los clientes
            de los administradores para mostrarte los detalles de sus cuentas.<br>
            Además puedes crear directamente a nuevos clientes.
        </p>
    </div>
</section>
<div class="manage-users-container">
    <h1 class="manage-users-title">Administrar usuarios</h1>

    <h2 class="table-title">Clientes</h2>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive manage-users-table">
        <thead>
            <tr>
                <th>RUT</th>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
                <th>TELÉFONO</th>
                <th>CORREO</th>
                <th>DIRECCIÓN</th>
                <th>DETALLE</th>
            </tr>
        </thead>
        <tbody>
            {% for c in clientes %}
                {% if c.is_staff == False %}
                    <tr>
                        <td>{{ c.rut }}</td>
                        <td>{{ c.nombre }}</td>
                        <td>{{ c.apellido }}</td>
                        <td>{{ c.telefono }}</td>
                        <td>{{ c.correo }}</td>
                        <td>{{ c.direccion }}</td>
                        <td>
                            <a href="{% url 'detallecliente' c.rut %}" role="button" class="manage-users-btn-detail">Ver detalle</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <div class="center-button-cliente">
        <a href="{% url 'crearcliente' %}" role="button" class="manage-users-btn">CREAR CLIENTE</a>
    </div>
    <h2 class="table-title">Administradores</h2>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive manage-users-table">
        <thead>
            <tr>
                <th>RUT</th>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
                <th>TELÉFONO</th>
                <th>CORREO</th>
                <th>DIRECCIÓN</th>
                <th>DETALLE</th>
            </tr>
        </thead>
        <tbody>
            {% for c in clientes %}
                {% if c.is_staff %}
                    <tr>
                        <td>{{ c.rut }}</td>
                        <td>{{ c.nombre }}</td>
                        <td>{{ c.apellido }}</td>
                        <td>{{ c.telefono }}</td>
                        <td>{{ c.correo }}</td>
                        <td>{{ c.direccion }}</td>
                        <td>
                            <a href="{% url 'detallecliente' c.rut %}" role="button" class="manage-users-btn-detail">Ver detalle</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock contenido %}
