{% extends "empireapp/pages/dashboard/home.html" %}
{% block contenido %}
    <section class="full-width header-well">
        <div class="full-width header-well-icon">
            <i class="zmdi zmdi-washing-machine"></i>
        </div>
        <div class="full-width header-well-text">
            <p class="text-condensedLight">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
        </div>
    </section>

    <h2>Editar {{ product_type|capfirst }}</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar cambios</button>
    </form>
{% endblock contenido %}