{% extends "empireapp/pages/dashboard/home.html" %}
{% block contenido %}

    <div class="edit-product-container">
        <h2 class="edit-product-title">Editar {{ product_type|capfirst }}</h2>

        <form method="post" enctype="multipart/form-data" class="edit-product-form">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit">Guardar cambios</button>
        </form>
    </div>
{% endblock contenido %}
