{% extends "empireapp/pages/dashboard/home.html" %}

{% block contenido %}
<form method="post">
    {% csrf_token %}
    <div class="delete-client-container">
        <h3 class="delete-client-title">Eliminar Cliente</h3>
        <div class="alert alert-danger" role="alert">
            <strong>Está a punto de eliminar al siguiente cliente:</strong>
            <div class="mt-3">
                <h3>{{ cliente.nombre }} {{ cliente.apellido }} Rut: {{ cliente.rut }}</h3>
            </div>
        </div>

        <div class="delete-client-form-actions">
            <button type="submit" class="delete-client-btn delete-client-btn-danger" data-bs-toggle="modal" data-bs-target="#myModal">
                Eliminar cliente
            </button>
            <a href="{% url 'clientes' %}" class="delete-client-btn delete-client-btn-primary">Cancelar</a>
        </div>
    </div>
</form>
{% endblock contenido %}