{% extends "empireapp/pages/dashboard/home.html" %}
{% block contenido %}
    

    <div class="delete-product-container">
        <h2 class="delete-product-title">Eliminar {{ product_type|capfirst }}</h2>

        <p class="delete-product-message">¿Estás seguro que deseas eliminar {{ product_type|capfirst }} "{{ product }}"?</p>

        <form method="post" class="delete-product-form">
            {% csrf_token %}
            <button type="submit">Confirmar eliminación</button>
            <a href="{% url 'products' %}">Cancelar</a>
        </form>
    </div>

{% endblock contenido %}
