
{% extends "home.html" %}
{% block contenido %}
<section class="full-width pageContent">
    <section class="full-width header-well">
        <div class="full-width header-well-icon">
            <i class="zmdi zmdi-store"></i>
        </div>
        <div class="full-width header-well-text">
            <p class="text-condensedLight">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde aut nulla accusantium minus corporis
                accusamus fuga harum natus molestias necessitatibus.
            </p>
        </div>
    </section>
    <div class="full-width divider-menu-h"></div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Nombre</th>
                        <th>Código</th>
                        <th>Stock</th>
                        <th>Valor</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Teléfono Samsung S20</td>
                        <td>1532153</td>
                        <td>7</td>
                        <td>$640.000</td>
                        <td><select class="mdl-textfield--floating-label">
                            <option value="" disabled="" selected="">Estado</option>
                            <option value="">Activado</option>
                            <option value="">Desactivado</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Notebook Dell Inspiron 15 5000</td>
                        <td>189489</td>
                        <td>2</td>
                        <td>$720.000</td>
                        <td><select class="mdl-textfield--floating-label">
                            <option value="" disabled="" selected="">Estado</option>
                            <option value="">Activado</option>
                            <option value="">Desactivado</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Mouse Logitech MX Master 3</td>
                        <td>654987</td>
                        <td>10</td>
                        <td>$80.000</td>
                        <td><select class="mdl-textfield--floating-label">
                            <option value="" disabled="" selected="">Estado</option>
                            <option value="">Activado</option>
                            <option value="">Desactivado</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Teclado Razer BlackWidow Elite</td>
                        <td>786542</td>
                        <td>7</td>
                        <td>$120.000</td>
                        <td><select class="mdl-textfield--floating-label">
                            <option value="" disabled="" selected="">Estado</option>
                            <option value="">Activado</option>
                            <option value="">Desactivado</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">PC HP Pavilion x360</td>
                        <td>321456</td>
                        <td>8</td>
                        <td>$640.000</td>
                        <td><select class="mdl-textfield--floating-label">
                            <option value="" disabled="" selected="">Estado</option>
                            <option value="">Activado</option>
                            <option value="">Desactivado</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Telefono iPhone 11</td>
                        <td>741258</td>
                        <td>7</td>
                        <td>$560.000</td>
                        <td><select class="mdl-textfield--floating-label">
                            <option value="" disabled="" selected="">Estado</option>
                            <option value="">Activado</option>
                            <option value="">Desactivado</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Mouse Corsair DarkCore RGB Pro</td>
                        <td>156856</td>
                        <td>1</td>
                        <td>$64.000</td>
                        <td><select class="mdl-textfield--floating-label">
                            <option value="" disabled="" selected="">Estado</option>
                            <option value="">Activado</option>
                            <option value="">Desactivado</option>
                        </select></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock contenido %}