{% extends "empireapp/pages/dashboard/home.html" %}
{% block contenido %}
{% load crispy_forms_tags %}
<div class="edit-client-container">
    <h3 class="edit-client-title">Editar cliente</h3>
    <h5 class="edit-client-subtitle">RUT - {{ cliente.rut }}</h5>
    <form action="" method="post" enctype="multipart/form-data" class="edit-client-form">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-actions">
            <input type="submit" value="Guardar Cambios" class="btn btn-success">
            <a href="{% url "clientes" %}" class="btn btn-danger">Cancelar</a>
        </div>
    </form>
</div>
{% endblock contenido %}
