{% extends "empireapp/pages/dashboard/home.html" %}
{% block contenido %}
    <section class="full-width header-well">
        <div class="full-width header-well-icon">
            <i class="zmdi zmdi-washing-machine"></i>
        </div>
        <div class="full-width header-well-text">
            <p class="text-condensedLight">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
        </div>
    </section>

        <a href= {% url "añadirlaptops" %}>AÑADIR Laptops</a>
        <a href= {% url "añadircelulares" %}>AÑADIR Celulares</a>
        <h2>Laptops</h2>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive">
            <thead>
                <tr>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for laptop in laptops %}
                <tr>
                    <td>{{ laptop.marca }}</td>
                    <td>{{ laptop.modelo }}</td>
                    <td>{{ laptop.precio }}</td>
                    <td>{{ laptop.stock }}</td>
                    <td>
                        <a href={% url 'editarproducto' 'laptop' laptop.id %}>Editar</a></td>
                    <td>
                        <button type="submit">
                            <a href="{% url 'eliminar_producto' 'laptop' laptop.id %}">Eliminar</a></td>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Celulares</h2>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for celular in celulares %}
            <tr>
                <td>{{ celular.marca }}</td>
                <td>{{ celular.modelo }}</td>
                <td>{{ celular.precio }}</td>
                <td>{{ celular.stock }}</td>
                <td>
                    <a href="{% url 'editarproducto' 'celular' celular.id %}">Editar</a></td>
                <td>
                    <button type="submit">
                        <a href="{% url 'eliminar_producto' 'celular' celular.id %}">Eliminar</a></td>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}