{% extends "empireapp/pages/dashboard/home.html" %}
{% load static %}
{% block contenido %}
    <section class="full-width header-well">
        <div class="full-width header-well-icon">
            <i class="zmdi zmdi-washing-machine"></i>
        </div>
        <div class="full-width header-well-text">
            <p class="text-condensedLight">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
        </div>
    </section>

        <a href= {% url "añadirlaptops" %}>AÑADIR Laptops</a>
        <a href= {% url "añadircelulares" %}>AÑADIR Celulares</a>
        <h2>PRODUCTOS</h2>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive">
            <thead>
                <tr>
                    <th>Tipo Producto</th>
                    <th>ID</th>
                    <th>Imagen</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Estado</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    {% if producto.laptops %}
                        <td> Laptops </td>
                    {% elif producto.celulares %}
                        <td> Celulares </td>
                    {% endif %}
                    <td>{{ producto.instance }}</td>
                    <td>{{ producto.id }}</td>
                        {% if producto.laptops  %}
                            <td><img src={{producto.laptops.imagen.url}} alt="foto" width= "150" height="150"></td>
                        {% elif producto.celulares %}
                            <td><img src={{producto.celulares.imagen.url}} alt="foto" height="150"></td>
                        {% endif %}
                    <td>{{ producto.marca }}</td>
                    <td>{{ producto.modelo }}</td>
                    <td>{{ producto.estado }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>{{ producto.stock }}</td>
                    <td>
                        {% if producto.laptops  %}
                            <a href="{% url 'editarproducto' 'laptop' producto.id %}">Editar</a>
                        {% elif producto.celulares %}
                            <a href="{% url 'editarproducto' 'celular' producto.id %}">Editar</a>
                        {% endif %}
                    <td>
                        {% if producto.laptops %}
                            <button type="submit">
                                <a href="{% url 'eliminar_producto' 'laptop' producto.id %}">Eliminar</a></td>
                            </button>
                        {% elif producto.celulares %}
                            <button type="submit">
                                <a href="{% url 'eliminar_producto' 'celular' producto.id %}">Eliminar</a></td>
                            </button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock contenido %}