{% extends "empireapp/pages/dashboard/home.html" %}
{% block contenido %}
    <section class="full-width header-well">
        <div class="full-width header-well-icon">
            <i class="zmdi zmdi-shopping-cart"></i>
        </div>
        <div class="full-width header-well-text">
            <p class="text-condensedLight">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde aut nulla accusantium minus corporis
                accusamus fuga harum natus molestias necessitatibus.
            </p>
        </div>
    </section>
    <div class="full-width divider-menu-h"></div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Fecha</th>
                        <th>Cliente</th>
                        <th>Cantidad productos</th>
                        <th>Pago</th>
                        <th>Total</th>
                        <th>Estado</th>
                        <th>detalle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pedido in pedidos %}
                        <tr>
                            <td>{{ pedido.fecha_pedido }}</td>
                            <td>{{ pedido.user.nombre }} {{ pedido.user.apellido }}</td>
                            <td>{{ pedido.total_productos }}</td>
                            <td>{{ pedido.total }}</td>
                            <td>{{ pedido.total }}</td>
                            <td>
                                <form method="post" action="{% url 'sales' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="pedido_id" value="{{ pedido.id }}">
                                    <select name="estado">
                                        {% for key, value in tipo_estado_pedido %}
                                            <option value="{{ key }}" {% if pedido.estado == key %}selected{% endif %}>{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                    <button type="submit">Actualizar</button>
                                </form>
                            </td>
                            <td>
                                <a href="{% url 'detalle_pedido' pedido.id %}">Ver Detalle</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock contenido %}