{% extends "../index.html" %}
{% load static %}
{% block contenedor %}
<main class="empire-main">
    <nav class="empire-breadcrumbs" aria-label="breadcrumb">
        <ol class="empire-breadcrumbs-list">
            <li class="empire-breadcrumbs-list__item"><a class="empire-breadcrumbs-list__link" href="{% url "index" %}">Home ></a>
            </li>
            <li class="empire-breadcrumbs-list__item"><a class="empire-breadcrumbs-list__link" href="{% url "productos" %}">Productos
                    ></a></li>
            <li class="empire-breadcrumbs-list__item active" aria-current="page">Accesorios</li>
        </ol>
    </nav>

    <li class="product-item">
        {% if producto.laptops %}
            <img class="product-image" src="{{ producto.laptops.imagen.url }}" alt="{{ producto.marca }} {{ producto.modelo }}" />
        {% elif producto.celulares %}
            <img class="product-image" src="{{ producto.celulares.imagen.url }}" alt="{{ producto.marca }} {{ producto.modelo }}" />
        {% endif %}
        <div class="product-details">
            <p><strong>Marca:</strong> {{ producto.marca }}</p>
            <p><strong>Modelo:</strong> {{ producto.modelo }}</p>
            {% if producto.laptops %}
                <p><strong>Pulgadas:</strong> {{ producto.laptops.pulgadas }}</p>
                <p><strong>Resolución:</strong> {{ producto.laptops.resolucion }}</p>
                <p><strong>Memoria Ram:</strong> {{ producto.laptops.memoria_ram }}</p>
                <p><strong>Batería:</strong> {{ producto.laptops.bateria }}</p>
                <p><strong>Almacenamiento:</strong> {{ producto.laptops.almacenamiento }}</p>
                <p><strong>Tarjeta de video:</strong> {{ producto.laptops.tarjeta_video }}</p>
                <p><strong>Procesador:</strong> {{ producto.laptops.procesador }}</p>
            {% elif producto.celulares %}
                <p><strong>Pulgadas:</strong> {{ producto.celulares.pulgadas }}</p>
                <p><strong>Resolución:</strong> {{ producto.celulares.resolucion }}</p>
                <p><strong>Batería:</strong> {{ producto.celulares.bateria }}</p>
                <p><strong>Almacenamiento:</strong> {{ producto.celulares.almacenamiento }}</p>
                <p><strong>Cámara:</strong> {{ producto.celulares.camara }}</p>
            {% endif %}
            <p><strong>Precio:</strong> {{ producto.precio }}</p>
        </div>
    </li>

                <!-- SIMULACION DE CARRITO DE COMPRAS -->
                <form action="{% url 'cart_add' producto.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" name="quantity" value="1" class="empire-products-content-body__add">Añadir Al Carro</button>
                </form>

            </div>

        </div>
    </section>
</main>
{% endblock contenedor %}