{% extends "../index.html" %}
{% block contenedor %}
{% load custom_filters %}
<h1>Detalle del Pedido #{{ pedido.id }}</h1>
    
    <p><strong>Fecha de Pedido:</strong> {{ pedido.fecha_pedido }}</p>
    <p><strong>Total:</strong> {{ pedido.total }}</p>
    <p><strong>Estado:</strong> {{ pedido.estado }}</p>

    <h2>Productos en el Pedido:</h2>
    <ul>
        {% for item in items %}
            {% if item.producto.laptops %}
                <img class="empire-products-content-body__img" src="{{ item.producto.laptops.imagen.url }}" alt="{{ producto.marca }} {{ producto.modelo }}" />
                <li>Marca: {{ item.producto.marca }}</li>
                <li>Modelo: {{ item.producto.modelo }}</li>
                <li>Pulgadas: {{ item.producto.laptops.pulgadas }}</li>
                <li>Resolucion: {{ item.producto.laptops.resolucion }}</li>
                <li>Memoria Ram: {{ item.producto.laptops.memoria_ram }}</li>
                <li>Bateria: {{ item.producto.laptops.bateria }}</li>
                <li>Almacenamiento: {{ item.producto.laptops.almacenamiento }}</li>
                <li>Tarjeta de video: {{ item.producto.laptops.tarjeta_video }}</li>
                <li>Procesador: {{ item.producto.laptops.procesador }}</li>
                <li>Precio: {{ item.producto.precio|currency }}</li>
                <li>Cantidad: 
                    <form action="{% url 'cart_update' item.id %}" method="post">
                    {% csrf_token %}
                    <input type="number" name="quantity" value="{{ item.quantity }}" min="1">
                        <button type="submit">Actualizar</button>
                    </form>
                </li>
            
            {% elif item.producto.celulares %}
                <img class="empire-products-content-body__img" src="{{ item.producto.celulares.imagen.url }}" alt="{{ producto.marca }} {{ producto.modelo }}" />
                <li>Marca: {{ item.producto.marca }}</li>
                <li>Modelo: {{ item.producto.modelo }}</li>
                <li>Pulgadas: {{ item.producto.celulares.pulgadas }}</li>
                <li>Resolucion: {{ item.producto.celulares.resolucion }}</li>
                <li>Bateria: {{ item.producto.celulares.bateria }}</li>
                <li>Almacenamiento: {{ item.producto.celulares.almacenamiento }}</li>
                <li>Camara: {{ item.producto.celulares.camara }}</li>
                <li>Precio: {{ item.producto.precio|currency }}</li>
                <li>Cantidad:
                    <form action="{% url 'cart_update' item.id %}" method="post">
                    {% csrf_token %}
                    <input type="number" name="quantity" value="{{ item.quantity }}" min="1">
                        <button type="submit">Actualizar</button>
                    </form>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock contenedor %}