{% extends "../index.html" %}
{% block contenedor %}
<h2>Mis Pedidos</h2>
<ul>
    {% for pedido in pedidos %}
    <li>
        <strong>Número de Pedido:</strong> {{ pedido.pk }}<br>
        <strong>Fecha:</strong> {{ pedido.fecha_pedido }}<br>
        <strong>Total:</strong> {{ pedido.total }}<br>
        <strong>Estado:</strong> {{ pedido.estado }}<br>
        <a href={% url 'detallepedido' pedido.id %}>Ver Detalles</a> <!-- Enlace opcional para ver detalles del pedido -->
        <hr>
    </li>
    {% empty %}
    <li>No tienes pedidos realizados.</li>
    {% endfor %}
</ul>
{% endblock contenedor %}