{% extends "../index.html" %}
{% load static %}
{% block contenedor %}
<h2 class="page-title">Modificar Mi Información Personal</h2>
<form method="post" class="profile-form">
    {% csrf_token %}
    <div class="form-group">
        {{ form.rut.label_tag }}
        <span class="form-value">{{ form.rut.value }}</span>
    </div>
    <div class="form-group">
        {{ form.nombre.label_tag }}
        {{ form.nombre }}
    </div>
    <div class="form-group">
        {{ form.apellido.label_tag }}
        {{ form.apellido }}
    </div>
    <div class="form-group">
        {{ form.correo.label_tag }}
        {{ form.correo }}
    </div>
    <div class="form-group">
        {{ form.telefono.label_tag }}
        {{ form.telefono }}
    </div>
    <div class="form-group">
        {{ form.fecha_ncto.label_tag }}
        {{ form.fecha_ncto }}
    </div>
    <div class="form-group">
        {{ form.direccion.label_tag }}
        {{ form.direccion }}
    </div>
    <div class="form-group">
        {{ form.password.label_tag }}<span class="required">*</span>
        <input type="password" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" required class="required-field">
    </div>
    <div class="form-group btn-container">
        <button type="submit" class="btn-save">Guardar cambios</button>
    </div>
</form>
{% endblock contenedor %}
