{% extends "../index.html" %}
{% load static %}
{% block contenedor %}
<div class="empire-hero">
    <div class="empire-hero__link">
        <img class="empire-hero__banner" src="{% static "empireapp/images/banner-products-desktop.jpg" %}"
            alt="Imagen de productos en Empire">
    </div>
</div>
<main class="empire-main">
    <nav class="empire-breadcrumbs" aria-label="breadcrumb">
        <ol class="empire-breadcrumbs-list">
            <li class="empire-breadcrumbs-list__item"><a class="empire-breadcrumbs-list__link" href="{% url "index" %}">Home ></a></li>
            <li class="empire-breadcrumbs-list__item active" aria-current="page">Productos</li>
        </ol>
    </nav>
    <!-- PRODUCTS CATEGORY -->
    <section class="empire-category">
        <nav class="empire-category-nav">
            <ul class="empire-category-nav-list">
                <li class="empire-category-nav-list__item active">
                    <a class="empire-category-nav-list__link" href="#smartphone">
                        <img class="empire-category-nav-list__img"
                            src="{% static "empireapp/images/products/icon-products-mobile.svg" %}"
                            alt="Smartphones Icon" />Smartphones
                    </a>
                </li>
                <li class="empire-category-nav-list__item">
                    <a class="empire-category-nav-list__link" href="#laptop">
                        <img class="empire-category-nav-list__img"
                            src="{% static "empireapp/images/products/icon-products-monitor.svg" %}" alt="Smartphones Icon" />Laptop
                    </a>
                </li>
                <li class="empire-category-nav-list__item">
                    <a class="empire-category-nav-list__link" href="#camaras">
                        <img class="empire-category-nav-list__img"
                            src="{% static "empireapp/images/products/icon-products-camera.svg" %}" alt="Camera Icon" />Cámaras
                    </a>
                </li>
                <li class="empire-category-nav-list__item">
                    <a class="empire-category-nav-list__link" href="#gaming">
                        <img class="empire-category-nav-list__img"
                            src="{% static "empireapp/images/products/icon-products-game.svg" %}" alt="Gaming Icon" />Gaming
                    </a>
                </li>

                <li class="empire-category-nav-list__item">
                    <a class="empire-category-nav-list__link" href="#smartwatch">
                        <img class="empire-category-nav-list__img"
                            src="{% static "empireapp/images/products/icon-products-watch-status.svg" %}"
                            alt="Wearable Icon" />Smart-Watch
                    </a>
                </li>

                <li class="empire-category-nav-list__item">
                    <a class="empire-category-nav-list__link" href="#accesorios">
                        <img class="empire-category-nav-list__img"
                            src="{% static "empireapp/images/products/icon-products-devices.svg" %}" alt="Accesorios Icon" />Accesorios
                    </a>
                </li>
            </ul>
        </nav>
        <!-- Smartphones -->
        <section class="empire-products">
            <h2 class="empire-products__title">SmartPhones</h2>
            <div id="smartphone" class="empire-products-content">
                    {% for producto in productos %}
                        {% if producto.celulares %}
                        <div class="empire-products-content-body__item">
                            <a class="empire-products-content-body__link" href={% url 'detalleProducto' 'celular' producto.id %}>
                                <img class="empire-products-content-body__img" src="{{ producto.celulares.imagen.url }}" alt="{{ producto.marca }} {{ producto.modelo }}" />
                            </a>
                            <span class="empire-products-content-body__trade"><strong>{{ producto.marca }}</strong></span>
                            <p class="empire-products-content-body__desc">{{ producto.modelo }}</p>
                            <p class="empire-products-content-body__price"><strong>$ {{ producto.precio }}</strong></p>
                            <form action="{% url 'cart_add' producto.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" name="quantity" value="1" class="empire-products-content-body__add">Añadir Al Carro</button>
                            </form>
                        </div>
                        {% endif %}
                    {% endfor %}
            </div>
        </section>
        <!-- Laptop -->
        <section class="empire-products">
            <h2 class="empire-products__title">Laptops</h2>
            <div id="laptop" class="empire-products-content">
                    {% for producto in productos %}
                        {% if producto.laptops and producto.estado == 'disponible'%}
                        <div class="empire-products-content-body__item">
                            <a class="empire-products-content-body__link" href={% url "detalleProducto" 'laptop' producto.id%}>
                                <img class="empire-products-content-body__img" src="{{ producto.laptops.imagen.url }}" alt="{{ producto.marca }} {{ producto.modelo }}" />
                            </a>
                            <span class="empire-products-content-body__trade"><strong>{{ producto.marca }}</strong></span>
                            <p class="empire-products-content-body__desc">{{ producto.modelo }}</p>
                            <p class="empire-products-content-body__price"><strong>$ {{ producto.precio }}</strong></p>
                            <form action="{% url 'cart_add' producto.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" name="quantity" value="1" class="empire-products-content-body__add">Añadir Al Carro</button>
                            </form>
                        </div>
                        {% endif %}
                    {% endfor %}
            </div>
        </section>
        <!-- Cámaras -->
        <section class="empire-products">
            <h2 class="empire-products__title">Cámaras</h2>
            <div id="camaras" class="empire-products-content">
                <div class="empire-products-content-body__item">
                    <a class="empire-products-content-body__link" href="">
                        <img class="empire-products-content-body__img" src="{% static "empireapp/images/products/no-imagen.jpeg" %}"
                            alt="apple-macbook-air-15" />
                    </a>
                    <span class="empire-products-content-body__trade"><strong>MARCA</strong></span>
                    <p class="empire-products-content-body__desc">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</p>
                    <p class="empire-products-content-body__price"><strong>$ 000.000</strong></p>
                    <button class="empire-products-content-body__add"> Agregar</button>
                </div>
                <div class="empire-products-content-body__item">
                    <a class="empire-products-content-body__link" href="">
                        <img class="empire-products-content-body__img" src="{% static "empireapp/images/products/no-imagen.jpeg" %}"
                            alt="apple-macbook-air-15" />
                    </a>
                    <span class="empire-products-content-body__trade"><strong>MARCA</strong></span>
                    <p class="empire-products-content-body__desc">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</p>
                    <p class="empire-products-content-body__price"><strong>$ 000.000</strong></p>
                    <button class="empire-products-content-body__add"> Agregar</button>
                </div>
                <div class="empire-products-content-body__item">
                    <a class="empire-products-content-body__link" href="">
                        <img class="empire-products-content-body__img" src="{% static "empireapp/images/products/no-imagen.jpeg" %}"
                            alt="apple-macbook-air-15" />
                    </a>
                    <span class="empire-products-content-body__trade"><strong>MARCA</strong></span>
                    <p class="empire-products-content-body__desc">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</p>
                    <p class="empire-products-content-body__price"><strong>$ 000.000</strong></p>
                    <button class="empire-products-content-body__add"> Agregar</button>
                </div>
                <div class="empire-products-content-body__item">
                    <a class="empire-products-content-body__link" href="">
                        <img class="empire-products-content-body__img" src="{% static "empireapp/images/products/no-imagen.jpeg" %}"
                            alt="apple-macbook-air-15" />
                    </a>
                    <span class="empire-products-content-body__trade"><strong>MARCA</strong></span>
                    <p class="empire-products-content-body__desc">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</p>
                    <p class="empire-products-content-body__price"><strong>$ 000.000</strong></p>
                    <button class="empire-products-content-body__add"> Agregar</button>
                </div>
                <div class="empire-products-content-body__item">
                    <a class="empire-products-content-body__link" href="">
                        <img class="empire-products-content-body__img" src="{% static "empireapp/images/products/no-imagen.jpeg" %}"
                            alt="apple-macbook-air-15" />
                    </a>
                    <span class="empire-products-content-body__trade"><strong>MARCA</strong></span>
                    <p class="empire-products-content-body__desc">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</p>
                    <p class="empire-products-content-body__price"><strong>$ 000.000</strong></p>
                    <button class="empire-products-content-body__add"> Agregar</button>
                </div>
                <div class="empire-products-content-body__item">
                    <a class="empire-products-content-body__link" href="">
                        <img class="empire-products-content-body__img" src="{% static "empireapp/images/products/no-imagen.jpeg" %}"
                            alt="apple-macbook-air-15" />
                    </a>
                    <span class="empire-products-content-body__trade"><strong>MARCA</strong></span>
                    <p class="empire-products-content-body__desc">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</p>
                    <p class="empire-products-content-body__price"><strong>$ 000.000</strong></p>
                    <button class="empire-products-content-body__add"> Agregar</button>
                </div>
                <div class="empire-products-content-body__item">
                    <a class="empire-products-content-body__link" href="">
                        <img class="empire-products-content-body__img" src="{% static "empireapp/images/products/no-imagen.jpeg" %}"
                            alt="apple-macbook-air-15" />
                    </a>
                    <span class="empire-products-content-body__trade"><strong>MARCA</strong></span>
                    <p class="empire-products-content-body__desc">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</p>
                    <p class="empire-products-content-body__price"><strong>$ 000.000</strong></p>
                    <button class="empire-products-content-body__add"> Agregar</button>
                </div>
            </div>
        </section>
        <!-- Gaming -->
        <section class="empire-products">
            <h2 class="empire-products__title">Games</h2>
            <div id="gaming" class="empire-products-content">
                <div class="empire-products-content-body__item">
                    <a class="empire-products-content-body__link" href="">
                        <img class="empire-products-content-body__img" src="{% static "empireapp/images/products/no-imagen.jpeg" %}"
                            alt="apple-macbook-air-15" />
                    </a>
                    <span class="empire-products-content-body__trade"><strong>MARCA</strong></span>
                    <p class="empire-products-content-body__desc">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</p>
                    <p class="empire-products-content-body__price"><strong>$ 000.000</strong></p>
                    <button class="empire-products-content-body__add"> Agregar</button>
                </div>
                <div class="empire-products-content-body__item">
                    <a class="empire-products-content-body__link" href="">
                        <img class="empire-products-content-body__img" src="{% static "empireapp/images/products/no-imagen.jpeg" %}"
                            alt="apple-macbook-air-15" />
                    </a>
                    <span class="empire-products-content-body__trade"><strong>MARCA</strong></span>
                    <p class="empire-products-content-body__desc">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</p>
                    <p class="empire-products-content-body__price"><strong>$ 000.000</strong></p>
                    <button class="empire-products-content-body__add"> Agregar</button>
                </div>
                <div class="empire-products-content-body__item">
                    <a class="empire-products-content-body__link" href="">
                        <img class="empire-products-content-body__img" src="{% static "empireapp/images/products/no-imagen.jpeg" %}"
                            alt="apple-macbook-air-15" />
                    </a>
                    <span class="empire-products-content-body__trade"><strong>MARCA</strong></span>
                    <p class="empire-products-content-body__desc">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</p>
                    <p class="empire-products-content-body__price"><strong>$ 000.000</strong></p>
                    <button class="empire-products-content-body__add"> Agregar</button>
                </div>
                <div class="empire-products-content-body__item">
                    <a class="empire-products-content-body__link" href="">
                        <img class="empire-products-content-body__img" src="{% static "empireapp/images/products/no-imagen.jpeg" %}"
                            alt="apple-macbook-air-15" />
                    </a>
                    <span class="empire-products-content-body__trade"><strong>MARCA</strong></span>
                    <p class="empire-products-content-body__desc">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</p>
                    <p class="empire-products-content-body__price"><strong>$ 000.000</strong></p>
                    <button class="empire-products-content-body__add"> Agregar</button>
                </div>
                <div class="empire-products-content-body__item">
                    <a class="empire-products-content-body__link" href="">
                        <img class="empire-products-content-body__img" src="{% static "empireapp/images/products/no-imagen.jpeg" %}"
                            alt="apple-macbook-air-15" />
                    </a>
                    <span class="empire-products-content-body__trade"><strong>MARCA</strong></span>
                    <p class="empire-products-content-body__desc">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</p>
                    <p class="empire-products-content-body__price"><strong>$ 000.000</strong></p>
                    <button class="empire-products-content-body__add"> Agregar</button>
                </div>
                <div class="empire-products-content-body__item">
                    <a class="empire-products-content-body__link" href="">
                        <img class="empire-products-content-body__img" src="{% static "empireapp/images/products/no-imagen.jpeg" %}"
                            alt="apple-macbook-air-15" />
                    </a>
                    <span class="empire-products-content-body__trade"><strong>MARCA</strong></span>
                    <p class="empire-products-content-body__desc">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</p>
                    <p class="empire-products-content-body__price"><strong>$ 000.000</strong></p>
                    <button class="empire-products-content-body__add"> Agregar</button>
                </div>
                <div class="empire-products-content-body__item">
                    <a class="empire-products-content-body__link" href="">
                        <img class="empire-products-content-body__img" src="{% static "empireapp/images/products/no-imagen.jpeg" %}"
                            alt="apple-macbook-air-15" />
                    </a>
                    <span class="empire-products-content-body__trade"><strong>MARCA</strong></span>
                    <p class="empire-products-content-body__desc">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</p>
                    <p class="empire-products-content-body__price"><strong>$ 000.000</strong></p>
                    <button class="empire-products-content-body__add"> Agregar</button>
                </div>
            </div>
        </section>
        <!-- Smart Watch -->
        <section class="empire-products">
            <h2 class="empire-products__title">Smart-Watch</h2>
            <div id="smartwatch" class="empire-products-content">
                <div class="empire-products-content-body__item">
                    <a class="empire-products-content-body__link" href="">
                        <img class="empire-products-content-body__img" src="{% static "empireapp/images/products/no-imagen.jpeg" %}"
                            alt="apple-macbook-air-15" />
                    </a>
                    <span class="empire-products-content-body__trade"><strong>MARCA</strong></span>
                    <p class="empire-products-content-body__desc">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</p>
                    <p class="empire-products-content-body__price"><strong>$ 000.000</strong></p>
                    <button class="empire-products-content-body__add"> Agregar</button>
                </div>
                <div class="empire-products-content-body__item">
                    <a class="empire-products-content-body__link" href="">
                        <img class="empire-products-content-body__img" src="{% static "empireapp/images/products/no-imagen.jpeg" %}"
                            alt="apple-macbook-air-15" />
                    </a>
                    <span class="empire-products-content-body__trade"><strong>MARCA</strong></span>
                    <p class="empire-products-content-body__desc">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</p>
                    <p class="empire-products-content-body__price"><strong>$ 000.000</strong></p>
                    <button class="empire-products-content-body__add"> Agregar</button>
                </div>
                <div class="empire-products-content-body__item">
                    <a class="empire-products-content-body__link" href="">
                        <img class="empire-products-content-body__img" src="{% static "empireapp/images/products/no-imagen.jpeg" %}"
                            alt="apple-macbook-air-15" />
                    </a>
                    <span class="empire-products-content-body__trade"><strong>MARCA</strong></span>
                    <p class="empire-products-content-body__desc">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</p>
                    <p class="empire-products-content-body__price"><strong>$ 000.000</strong></p>
                    <button class="empire-products-content-body__add"> Agregar</button>
                </div>
                <div class="empire-products-content-body__item">
                    <a class="empire-products-content-body__link" href="">
                        <img class="empire-products-content-body__img" src="{% static "empireapp/images/products/no-imagen.jpeg" %}"
                            alt="apple-macbook-air-15" />
                    </a>
                    <span class="empire-products-content-body__trade"><strong>MARCA</strong></span>
                    <p class="empire-products-content-body__desc">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</p>
                    <p class="empire-products-content-body__price"><strong>$ 000.000</strong></p>
                    <button class="empire-products-content-body__add"> Agregar</button>
                </div>
                <div class="empire-products-content-body__item">
                    <a class="empire-products-content-body__link" href="">
                        <img class="empire-products-content-body__img" src="{% static "empireapp/images/products/no-imagen.jpeg" %}"
                            alt="apple-macbook-air-15" />
                    </a>
                    <span class="empire-products-content-body__trade"><strong>MARCA</strong></span>
                    <p class="empire-products-content-body__desc">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</p>
                    <p class="empire-products-content-body__price"><strong>$ 000.000</strong></p>
                    <button class="empire-products-content-body__add"> Agregar</button>
                </div>
                <div class="empire-products-content-body__item">
                    <a class="empire-products-content-body__link" href="">
                        <img class="empire-products-content-body__img" src="{% static "empireapp/images/products/no-imagen.jpeg" %}"
                            alt="apple-macbook-air-15" />
                    </a>
                    <span class="empire-products-content-body__trade"><strong>MARCA</strong></span>
                    <p class="empire-products-content-body__desc">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</p>
                    <p class="empire-products-content-body__price"><strong>$ 000.000</strong></p>
                    <button class="empire-products-content-body__add"> Agregar</button>
                </div>
                <div class="empire-products-content-body__item">
                    <a class="empire-products-content-body__link" href="">
                        <img class="empire-products-content-body__img" src="{% static "empireapp/images/products/no-imagen.jpeg" %}"
                            alt="apple-macbook-air-15" />
                    </a>
                    <span class="empire-products-content-body__trade"><strong>MARCA</strong></span>
                    <p class="empire-products-content-body__desc">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</p>
                    <p class="empire-products-content-body__price"><strong>$ 000.000</strong></p>
                    <button class="empire-products-content-body__add"> Agregar</button>
                </div>
            </div>
        </section>
        <!-- Accesorios -->
        <section class="empire-products">
            <h2 class="empire-products__title">Accesorios</h2>
            <div id="accesorios" class="empire-products-content">
                <div class="empire-products-content-body__item">
                    <a class="empire-products-content-body__link" href="">
                        <img class="empire-products-content-body__img" src="{% static "empireapp/images/products/no-imagen.jpeg" %}"
                            alt="apple-macbook-air-15" />
                    </a>
                    <span class="empire-products-content-body__trade"><strong>MARCA</strong></span>
                    <p class="empire-products-content-body__desc">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</p>
                    <p class="empire-products-content-body__price"><strong>$ 000.000</strong></p>
                    <button class="empire-products-content-body__add"> Agregar</button>
                </div>
                <div class="empire-products-content-body__item">
                    <a class="empire-products-content-body__link" href="">
                        <img class="empire-products-content-body__img" src="{% static "empireapp/images/products/no-imagen.jpeg" %}"
                            alt="apple-macbook-air-15" />
                    </a>
                    <span class="empire-products-content-body__trade"><strong>MARCA</strong></span>
                    <p class="empire-products-content-body__desc">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</p>
                    <p class="empire-products-content-body__price"><strong>$ 000.000</strong></p>
                    <button class="empire-products-content-body__add"> Agregar</button>
                </div>
                <div class="empire-products-content-body__item">
                    <a class="empire-products-content-body__link" href="">
                        <img class="empire-products-content-body__img" src="{% static "empireapp/images/products/no-imagen.jpeg" %}"
                            alt="apple-macbook-air-15" />
                    </a>
                    <span class="empire-products-content-body__trade"><strong>MARCA</strong></span>
                    <p class="empire-products-content-body__desc">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</p>
                    <p class="empire-products-content-body__price"><strong>$ 000.000</strong></p>
                    <button class="empire-products-content-body__add"> Agregar</button>
                </div>
                <div class="empire-products-content-body__item">
                    <a class="empire-products-content-body__link" href="">
                        <img class="empire-products-content-body__img" src="{% static "empireapp/images/products/no-imagen.jpeg" %}"
                            alt="apple-macbook-air-15" />
                    </a>
                    <span class="empire-products-content-body__trade"><strong>MARCA</strong></span>
                    <p class="empire-products-content-body__desc">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</p>
                    <p class="empire-products-content-body__price"><strong>$ 000.000</strong></p>
                    <button class="empire-products-content-body__add"> Agregar</button>
                </div>
                <div class="empire-products-content-body__item">
                    <a class="empire-products-content-body__link" href="">
                        <img class="empire-products-content-body__img" src="{% static "empireapp/images/products/no-imagen.jpeg" %}"
                            alt="apple-macbook-air-15" />
                    </a>
                    <span class="empire-products-content-body__trade"><strong>MARCA</strong></span>
                    <p class="empire-products-content-body__desc">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</p>
                    <p class="empire-products-content-body__price"><strong>$ 000.000</strong></p>
                    <button class="empire-products-content-body__add"> Agregar</button>
                </div>
                <div class="empire-products-content-body__item">
                    <a class="empire-products-content-body__link" href="">
                        <img class="empire-products-content-body__img" src="{% static "empireapp/images/products/no-imagen.jpeg" %}"
                            alt="apple-macbook-air-15" />
                    </a>
                    <span class="empire-products-content-body__trade"><strong>MARCA</strong></span>
                    <p class="empire-products-content-body__desc">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</p>
                    <p class="empire-products-content-body__price"><strong>$ 000.000</strong></p>
                    <button class="empire-products-content-body__add"> Agregar</button>
                </div>
                <div class="empire-products-content-body__item">
                    <a class="empire-products-content-body__link" href="">
                        <img class="empire-products-content-body__img" src="{% static "empireapp/images/products/no-imagen.jpeg" %}"
                            alt="apple-macbook-air-15" />
                    </a>
                    <span class="empire-products-content-body__trade"><strong>MARCA</strong></span>
                    <p class="empire-products-content-body__desc">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</p>
                    <p class="empire-products-content-body__price"><strong>$ 000.000</strong></p>
                    <button class="empire-products-content-body__add"> Agregar</button>
                </div>
            </div>
        </section>
    </section>
</main>
{% endblock contenedor %}